openapi: 3.1.0
info:
  title: SaaS MyCRM Completed APIs
  version: 1.0.0
  description: Completed API surface in the same sequence as docs/completed-api-curls.md.
servers:
  - url: https://darkgreen-goat-738912.hostingersite.com
    description: Local API root
tags:
  - name: 0. Common Master Data
  - name: 1. Unified Auth
  - name: 2. Platform Auth/Profile/Security
  - name: 2. Platform API Tokens
  - name: 3. Tenant Auth/Profile/Security
  - name: 3. Tenant API Tokens
  - name: 4. Platform Admin
  - name: 5. Platform Roles
  - name: 5. Platform Permissions
  - name: 6. Tenant Roles
  - name: 6. Tenant Permissions
  - name: 7. Platform Billing and Catalog
paths:
  /api/common/v1/locations/countries:
    get:
      tags: [0. Common Master Data]
      summary: List active countries
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/LocationSearch'}]
      responses:
        '200': {$ref: '#/components/responses/CountryListResponse'}
  /api/common/v1/locations/states:
    get:
      tags: [0. Common Master Data]
      summary: List active states
      description: Common state dropdown API. Pass either country_id or country_iso2; optional search filters by state name or code.
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/CountryIdQuery'}, {$ref: '#/components/parameters/CountryIso2Query'}, {$ref: '#/components/parameters/LocationSearch'}]
      responses:
        '200': {$ref: '#/components/responses/StateListResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/common/v1/locations/cities:
    get:
      tags: [0. Common Master Data]
      summary: List active cities
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/StateIdQuery'}, {$ref: '#/components/parameters/CountryIdOptionalQuery'}, {$ref: '#/components/parameters/LocationSearch'}]
      responses:
        '200': {$ref: '#/components/responses/CityListResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/tenants/register:
    post:
      tags: [1. Unified Auth]
      summary: Register a new SaaS tenant and owner account
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TenantRegistrationRequest'}
            example:
              organization_name: Acme Pvt Ltd
              legal_name: Acme Private Limited
              display_name: Acme
              organization_code: ACME
              slug: acme
              company_size: small
              default_currency: INR
              default_timezone: Asia/Kolkata
              owner:
                first_name: Sahil
                last_name: Owner
                display_name: Sahil Owner
                email: owner@example.com
                mobile: '+919999999999'
                password: Password@123
                password_confirmation: Password@123
              office:
                office_name: Head Office
                address_line_1: Main Street
                postal_code: '400001'
      responses:
        '201': {$ref: '#/components/responses/TenantRegistrationResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/accounts/discover:
    post:
      tags: [1. Unified Auth]
      summary: Discover accounts by email
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/DiscoverRequest'}
            example: {email: user@example.com, device_name: Chrome on Windows}
      responses:
        '200': {$ref: '#/components/responses/DiscoverResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/accounts/login:
    post:
      tags: [1. Unified Auth]
      summary: Login selected account
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/UnifiedLoginRequest'}
            example: {email: user@example.com, discovery_token: disc_short_lived_token, account_ref: acct_opaque_ref, password: StrongPassword#123, remember: true, device_name: Chrome on Windows}
      responses:
        '200': {$ref: '#/components/responses/LoginResponse'}
        '401': {$ref: '#/components/responses/InvalidCredentials'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/accounts/login/2fa:
    post:
      tags: [1. Unified Auth]
      summary: Verify login 2FA challenge
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LoginTwoFactorRequest'}
      responses:
        '200': {$ref: '#/components/responses/LoginResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/me:
    get:
      tags: [1. Unified Auth]
      summary: Current unified session
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      responses:
        '200': {$ref: '#/components/responses/CurrentSessionResponse'}
        '401': {$ref: '#/components/responses/Unauthenticated'}
  /api/auth/v1/logout:
    post:
      tags: [1. Unified Auth]
      summary: Logout current unified session
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        content:
          application/json:
            schema: {type: object, properties: {all_devices: {type: boolean, example: false}}}
      responses:
        '200': {$ref: '#/components/responses/LogoutResponse'}
        '401': {$ref: '#/components/responses/Unauthenticated'}
  /api/auth/v1/password/forgot:
    post:
      tags: [1. Unified Auth]
      summary: Request password reset
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ForgotPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ForgotPasswordResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/password/reset:
    post:
      tags: [1. Unified Auth]
      summary: Reset password
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ResetPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ResetPasswordResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/platform/v1/auth/forgot-password:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Request platform password reset
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PlatformForgotPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ForgotPasswordResponse'}
  /api/platform/v1/auth/reset-password:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Reset platform password
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ResetPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ResetPasswordResponse'}
  /api/platform/v1/auth/logout:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Revoke current platform token
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '401': {$ref: '#/components/responses/Unauthenticated'}}
  /api/platform/v1/auth/refresh:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Rotate current platform token
      security: [{bearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema: {type: object, properties: {device_name: {type: string, example: platform-api}}}
      responses: {'200': {$ref: '#/components/responses/TokenRefreshResponse'}}
  /api/platform/v1/auth/me:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: Platform current user
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PlatformMeResponse'}}
  /api/platform/v1/auth/verify-email/resend:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Queue platform verification email placeholder
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/platform/v1/auth/2fa/enable:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Start platform TOTP 2FA setup
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/TwoFactorEnableResponse'}}
  /api/platform/v1/auth/2fa/confirm:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Confirm platform TOTP 2FA setup
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TwoFactorCodeRequest'}
      responses: {'200': {$ref: '#/components/responses/TwoFactorConfirmResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/auth/2fa/disable:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Disable platform 2FA
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {type: object, required: [password], properties: {password: {type: string, format: password}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/platform/v1/profile:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: Get platform profile
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PlatformProfileResponse'}}
    patch:
      tags: [2. Platform Auth/Profile/Security]
      summary: Update platform profile
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PlatformProfileResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
    put:
      tags: [2. Platform Auth/Profile/Security]
      summary: Update platform profile
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PlatformProfileResponse'}}
  /api/platform/v1/profile/password:
    put:
      tags: [2. Platform Auth/Profile/Security]
      summary: Change platform password
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChangePasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/platform/v1/settings/preferences:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: List platform preferences
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
    put:
      tags: [2. Platform Auth/Profile/Security]
      summary: Update platform preferences
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PreferencesUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
  /api/platform/v1/profile/sessions:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: List platform Sanctum sessions/tokens
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SessionsResponse'}}
  /api/platform/v1/profile/sessions/{session_id}:
    delete:
      tags: [2. Platform Auth/Profile/Security]
      summary: Revoke platform session/token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/SessionId'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/platform/v1/api-tokens:
    get:
      tags: [2. Platform API Tokens]
      summary: List platform API tokens
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenListResponse'}}
    post:
      tags: [2. Platform API Tokens]
      summary: Create platform API token
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApiTokenCreateRequest'}
      responses: {'201': {$ref: '#/components/responses/ApiTokenCreatedResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/api-tokens/{token_uuid}:
    get:
      tags: [2. Platform API Tokens]
      summary: Show platform API token metadata
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenShowResponse'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/platform/v1/api-tokens/{token_uuid}/rotate:
    post:
      tags: [2. Platform API Tokens]
      summary: Rotate platform API token and return raw token once
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenCreatedResponse'}}
  /api/platform/v1/api-tokens/{token_uuid}/revoke:
    post:
      tags: [2. Platform API Tokens]
      summary: Revoke platform API token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/tenant/v1/auth/forgot-password:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Request tenant password reset
      security: []
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TenantForgotPasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/ForgotPasswordResponse'}}
  /api/tenant/v1/auth/reset-password:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Reset tenant password
      security: []
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TenantResetPasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/ResetPasswordResponse'}}
  /api/tenant/v1/auth/logout:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Revoke current tenant token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '401': {$ref: '#/components/responses/Unauthenticated'}}
  /api/tenant/v1/auth/refresh:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Rotate current tenant token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        content:
          application/json:
            schema: {type: object, properties: {device_name: {type: string, example: tenant-api}}}
      responses: {'200': {$ref: '#/components/responses/TokenRefreshResponse'}}
  /api/tenant/v1/auth/me:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Tenant current user
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/TenantMeResponse'}}
  /api/tenant/v1/auth/verify-email/resend:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Queue tenant verification email placeholder
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/tenant/v1/auth/2fa/enable:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Start tenant TOTP 2FA setup
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/TwoFactorEnableResponse'}}
  /api/tenant/v1/auth/2fa/confirm:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Confirm tenant TOTP 2FA setup
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TwoFactorCodeRequest'}
      responses: {'200': {$ref: '#/components/responses/TwoFactorConfirmResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/tenant/v1/auth/2fa/disable:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Disable tenant 2FA
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {type: object, required: [password], properties: {password: {type: string, format: password}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/tenant/v1/profile:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Get tenant profile
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/TenantProfileResponse'}}
    patch:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Update tenant profile
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/TenantProfileResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
    put:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Update tenant profile
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/TenantProfileResponse'}}
  /api/tenant/v1/profile/password:
    put:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Change tenant password
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChangePasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/tenant/v1/profile/preferences:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: List tenant preferences
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
    put:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Update tenant preferences
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PreferencesUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
  /api/tenant/v1/profile/sessions:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: List tenant Sanctum sessions/tokens
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/SessionsResponse'}}
  /api/tenant/v1/profile/sessions/{session_id}:
    delete:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Revoke tenant session/token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/SessionId'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/tenant/v1/profile/api-tokens:
    get:
      tags: [3. Tenant API Tokens]
      summary: List tenant API tokens
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenListResponse'}}
    post:
      tags: [3. Tenant API Tokens]
      summary: Create tenant API token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApiTokenCreateRequest'}
      responses: {'201': {$ref: '#/components/responses/ApiTokenCreatedResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/tenant/v1/profile/api-tokens/{token_uuid}/rotate:
    post:
      tags: [3. Tenant API Tokens]
      summary: Rotate tenant API token and return raw token once
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenCreatedResponse'}}
  /api/tenant/v1/profile/api-tokens/{token_uuid}/revoke:
    post:
      tags: [3. Tenant API Tokens]
      summary: Revoke tenant API token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/platform/v1/dashboard/summary:
    get: {tags: [4. Platform Admin], summary: Platform dashboard summary, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}}}
  /api/platform/v1/dashboard/charts:
    get: {tags: [4. Platform Admin], summary: Platform dashboard charts, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/dashboard/recent:
    get: {tags: [4. Platform Admin], summary: Platform dashboard recent records, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/dashboard/alerts:
    get: {tags: [4. Platform Admin], summary: Platform dashboard alerts and security events, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/dashboard/export:
    post: {tags: [4. Platform Admin], summary: Export platform dashboard, security: [{bearerAuth: []}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users:
    get: {tags: [4. Platform Admin], summary: List platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/platform-users/invite:
    post: {tags: [4. Platform Admin], summary: Invite platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/export:
    post: {tags: [4. Platform Admin], summary: Export platform staff, security: [{bearerAuth: []}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}:
    parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}]
    get: {tags: [4. Platform Admin], summary: View platform staff, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '404': {$ref: '#/components/responses/NotFound'}}}
    patch: {tags: [4. Platform Admin], summary: Update platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Delete platform staff, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/restore:
    post: {tags: [4. Platform Admin], summary: Restore platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/suspend:
    post: {tags: [4. Platform Admin], summary: Suspend platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/activate:
    post: {tags: [4. Platform Admin], summary: Activate platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/reset-password:
    post: {tags: [4. Platform Admin], summary: Send platform staff reset password email, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/force-logout:
    post: {tags: [4. Platform Admin], summary: Force platform staff logout, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/require-2fa:
    post: {tags: [4. Platform Admin], summary: Require platform staff 2FA, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/roles:
    get: {tags: [4. Platform Admin], summary: Platform staff roles, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Replace platform staff roles, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], requestBody: {content: {application/json: {example: {role_uuids: [role_uuid]}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/permissions:
    get: {tags: [4. Platform Admin], summary: Platform staff direct permissions, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Replace platform staff direct permissions, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], requestBody: {content: {application/json: {example: {permission_uuids: [permission_uuid]}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/activity:
    get: {tags: [4. Platform Admin], summary: Platform staff activity, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams:
    get: {tags: [4. Platform Admin], summary: List platform teams, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform team, security: [{bearerAuth: []}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams/{team_uuid}:
    parameters: [{$ref: '#/components/parameters/TeamUuid'}]
    get: {tags: [4. Platform Admin], summary: View platform team, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [4. Platform Admin], summary: Update platform team, security: [{bearerAuth: []}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update platform team, security: [{bearerAuth: []}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Archive platform team, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-teams/{team_uuid}/members:
    get: {tags: [4. Platform Admin], summary: List platform team members, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Add platform team member, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], requestBody: {content: {application/json: {example: {platform_user_uuid: platform_user_uuid, team_role_uuid: team_role_uuid}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams/{team_uuid}/members/{member_id}:
    parameters: [{$ref: '#/components/parameters/TeamUuid'}, {name: member_id, in: path, required: true, schema: {type: integer}}]
    patch: {tags: [4. Platform Admin], summary: Update platform team member, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update platform team member, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Remove platform team member, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-teams/{team_uuid}/assignments:
    get: {tags: [4. Platform Admin], summary: List platform team assignments, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform team assignment, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams/{team_uuid}/assignments/{assignment_id}:
    delete: {tags: [4. Platform Admin], summary: Release platform team assignment, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}, {name: assignment_id, in: path, required: true, schema: {type: integer}}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-team-roles:
    get: {tags: [4. Platform Admin], summary: List platform team roles, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform team role, security: [{bearerAuth: []}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-team-roles/{role_uuid}:
    patch: {tags: [4. Platform Admin], summary: Update platform team role, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/RoleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update platform team role, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/RoleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants:
    get: {tags: [4. Platform Admin], summary: List tenants, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create tenant with owner office subscription settings and roles, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTenantCreate'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/tenants/{tenant_uuid}:
    parameters: [{$ref: '#/components/parameters/TenantUuid'}]
    get: {tags: [4. Platform Admin], summary: Tenant overview, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [4. Platform Admin], summary: Update tenant organization, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update tenant organization, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Archive tenant, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/restore:
    post: {tags: [4. Platform Admin], summary: Restore tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/activate:
    post: {tags: [4. Platform Admin], summary: Activate tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/suspend:
    post: {tags: [4. Platform Admin], summary: Suspend tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {reason: Payment overdue, notify_owner: true}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/tenants/{tenant_uuid}/reactivate:
    post: {tags: [4. Platform Admin], summary: Reactivate tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/archive:
    post: {tags: [4. Platform Admin], summary: Archive tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/extend-trial:
    post: {tags: [4. Platform Admin], summary: Extend tenant trial, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {trial_ends_at: '2026-09-30T00:00:00Z', reason: Sales-approved extension}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/impersonate:
    post: {tags: [4. Platform Admin], summary: Start remote login session, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {reason: Debug billing setup with customer approval, duration_minutes: 30, target_user_uuid: user_uuid}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/tenants/{tenant_uuid}/impersonate/{session_uuid}:
    delete: {tags: [4. Platform Admin], summary: End remote login session, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}, {name: session_uuid, in: path, required: true, schema: {type: string, format: uuid}}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/tenants/{tenant_uuid}/{tab}:
    get: {tags: [4. Platform Admin], summary: Tenant detail tab, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}, {name: tab, in: path, required: true, schema: {type: string, enum: [users, offices, subscription, billing, usage, modules, settings, integrations, security, support, files, activity]}}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/modules:
    put: {tags: [4. Platform Admin], summary: Update tenant module overrides, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {modules: [{module_code: crm, enabled: true, limits: {users: 25}}]}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/access-control/roles:
    get:
      tags: [5. Platform Roles]
      summary: List platform roles
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/RoleTypeFilter'}, {$ref: '#/components/parameters/GuardFilter'}]
      responses: {'200': {$ref: '#/components/responses/RoleList'}, '403': {$ref: '#/components/responses/Forbidden'}}
    post:
      tags: [5. Platform Roles]
      summary: Create platform role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleWrite'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/access-control/roles/{role_uuid}:
    parameters: [{$ref: '#/components/parameters/RoleUuid'}]
    get:
      tags: [5. Platform Roles]
      summary: View platform role
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
    patch:
      tags: [5. Platform Roles]
      summary: Update platform role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '403': {$ref: '#/components/responses/SystemRoleRenameForbidden'}}
    put:
      tags: [5. Platform Roles]
      summary: Update platform role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
    delete:
      tags: [5. Platform Roles]
      summary: Delete custom unused platform role
      security: [{bearerAuth: []}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '403': {$ref: '#/components/responses/SystemRoleDeleteForbidden'}, '409': {$ref: '#/components/responses/RoleInUse'}}
  /api/platform/v1/access-control/roles/{role_uuid}/clone:
    post:
      tags: [5. Platform Roles]
      summary: Clone platform role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleClone'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/activate:
    post:
      tags: [5. Platform Roles]
      summary: Activate platform role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/deactivate:
    post:
      tags: [5. Platform Roles]
      summary: Deactivate platform role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/permissions:
    get:
      tags: [5. Platform Roles]
      summary: List platform role permissions grouped by module
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
    put:
      tags: [5. Platform Roles]
      summary: Replace platform role permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/users:
    get:
      tags: [5. Platform Roles]
      summary: List platform users assigned to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/UserList'}}
    post:
      tags: [5. Platform Roles]
      summary: Assign platform users to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformUserAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/AssignedCount'}}
  /api/platform/v1/access-control/roles/{role_uuid}/users/{platform_user_uuid}:
    delete:
      tags: [5. Platform Roles]
      summary: Remove platform user from role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}, {$ref: '#/components/parameters/PlatformUserUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/platform/v1/access-control/permissions:
    get:
      tags: [5. Platform Permissions]
      summary: List platform permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/ModuleFilter'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/GuardFilter'}]
      responses: {'200': {$ref: '#/components/responses/PermissionList'}}
    post:
      tags: [5. Platform Permissions]
      summary: Create platform permission
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionWrite'}}}}
      responses: {'201': {$ref: '#/components/responses/PermissionSingle'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/access-control/permissions/grouped:
    get:
      tags: [5. Platform Permissions]
      summary: List platform permissions grouped by module
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
  /api/platform/v1/access-control/permissions/{permission_uuid}:
    parameters: [{$ref: '#/components/parameters/PermissionUuid'}]
    get:
      tags: [5. Platform Permissions]
      summary: View platform permission
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
    patch:
      tags: [5. Platform Permissions]
      summary: Update platform permission
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}, '403': {$ref: '#/components/responses/SystemPermissionRenameForbidden'}}
    put:
      tags: [5. Platform Permissions]
      summary: Update platform permission
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}}
    delete:
      tags: [5. Platform Permissions]
      summary: Delete custom unused platform permission
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '403': {$ref: '#/components/responses/SystemPermissionDeleteForbidden'}, '409': {$ref: '#/components/responses/PermissionInUse'}}
  /api/tenant/v1/access-control/roles:
    get:
      tags: [6. Tenant Roles]
      summary: List tenant roles
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/GuardFilter'}]
      responses: {'200': {$ref: '#/components/responses/RoleList'}, '403': {$ref: '#/components/responses/Forbidden'}}
    post:
      tags: [6. Tenant Roles]
      summary: Create tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleWrite'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/tenant/v1/access-control/roles/{role_uuid}:
    parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
    get:
      tags: [6. Tenant Roles]
      summary: View tenant role
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
    patch:
      tags: [6. Tenant Roles]
      summary: Update tenant role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '403': {$ref: '#/components/responses/SystemRoleRenameForbidden'}}
    put:
      tags: [6. Tenant Roles]
      summary: Update tenant role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
    delete:
      tags: [6. Tenant Roles]
      summary: Delete custom unused tenant role
      security: [{bearerAuth: []}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '403': {$ref: '#/components/responses/SystemRoleDeleteForbidden'}, '409': {$ref: '#/components/responses/FinalOwnerAdminRequired'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/clone:
    post:
      tags: [6. Tenant Roles]
      summary: Clone tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleClone'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/activate:
    post:
      tags: [6. Tenant Roles]
      summary: Activate tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/deactivate:
    post:
      tags: [6. Tenant Roles]
      summary: Deactivate tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '409': {$ref: '#/components/responses/FinalOwnerAdminRequired'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/permissions:
    get:
      tags: [6. Tenant Roles]
      summary: List tenant role permissions grouped by module
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
    put:
      tags: [6. Tenant Roles]
      summary: Replace tenant role permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/users:
    get:
      tags: [6. Tenant Roles]
      summary: List tenant users assigned to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/UserList'}}
    post:
      tags: [6. Tenant Roles]
      summary: Assign tenant users to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/TenantUserAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/AssignedCount'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/users/{user_uuid}:
    delete:
      tags: [6. Tenant Roles]
      summary: Remove tenant user from role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}, {$ref: '#/components/parameters/UserUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '409': {$ref: '#/components/responses/FinalOwnerAdminRequired'}}
  /api/tenant/v1/access-control/permissions:
    get:
      tags: [6. Tenant Permissions]
      summary: List tenant permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/ModuleFilter'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/GuardFilter'}]
      responses: {'200': {$ref: '#/components/responses/PermissionList'}}
  /api/tenant/v1/access-control/permissions/grouped:
    get:
      tags: [6. Tenant Permissions]
      summary: List tenant permissions grouped by module
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
  /api/tenant/v1/access-control/permissions/{permission_uuid}:
    get:
      tags: [6. Tenant Permissions]
      summary: View tenant permission
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/PermissionUuid'}]
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/platform/v1/subscriptions:
    get: {tags: [7. Platform Billing and Catalog], summary: List subscriptions, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create subscription, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/SubscriptionWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '409': {$ref: '#/components/responses/IdempotencyRequired'}}}
  /api/platform/v1/subscriptions/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export subscriptions, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/upgrade:
    post: {tags: [7. Platform Billing and Catalog], summary: Upgrade subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/downgrade:
    post: {tags: [7. Platform Billing and Catalog], summary: Downgrade subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/renew:
    post: {tags: [7. Platform Billing and Catalog], summary: Renew subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/pause:
    post: {tags: [7. Platform Billing and Catalog], summary: Pause subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/resume:
    post: {tags: [7. Platform Billing and Catalog], summary: Resume subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/cancel:
    post: {tags: [7. Platform Billing and Catalog], summary: Cancel subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/ReasonBody'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/addons:
    post: {tags: [7. Platform Billing and Catalog], summary: Add subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/SubscriptionAddonWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/addons/{addon_id}:
    patch: {tags: [7. Platform Billing and Catalog], summary: Update subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/AddonId'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/AddonId'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Cancel subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/AddonId'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/apply-coupon:
    post: {tags: [7. Platform Billing and Catalog], summary: Apply coupon, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/ApplyCoupon'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/coupons/{coupon_uuid}:
    delete: {tags: [7. Platform Billing and Catalog], summary: Remove coupon, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/CouponUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/usage:
    get: {tags: [7. Platform Billing and Catalog], summary: Subscription usage, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/invoice:
    post: {tags: [7. Platform Billing and Catalog], summary: Create subscription invoice, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/history:
    get: {tags: [7. Platform Billing and Catalog], summary: Subscription versions and renewals, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans:
    get: {tags: [7. Platform Billing and Catalog], summary: List plans, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create plan, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlanWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export plans, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/{plan_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Archive plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/plans/{plan_uuid}/clone:
    post: {tags: [7. Platform Billing and Catalog], summary: Clone plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/CloneBody'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/{plan_uuid}/features:
    get: {tags: [7. Platform Billing and Catalog], summary: Plan features, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Replace plan features, parameters: [{$ref: '#/components/parameters/PlanUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlanFeaturesWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/{plan_uuid}/subscriptions:
    get: {tags: [7. Platform Billing and Catalog], summary: Plan subscriptions, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/features:
    get: {tags: [7. Platform Billing and Catalog], summary: List features, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create feature, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/FeatureWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/features/{feature_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Deactivate feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/addons:
    get: {tags: [7. Platform Billing and Catalog], summary: List add-on plans, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create add-on plan, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AddonWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/addons/{addon_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Archive add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/billing/invoices:
    get: {tags: [7. Platform Billing and Catalog], summary: List platform invoices, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create manual invoice, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/InvoiceWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export invoices, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update draft invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '409': {$ref: '#/components/responses/InvoiceNotDraft'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update draft invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '409': {$ref: '#/components/responses/InvoiceNotDraft'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Cancel invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}/send:
    post: {tags: [7. Platform Billing and Catalog], summary: Send invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}/pdf:
    get: {tags: [7. Platform Billing and Catalog], summary: Generate invoice PDF metadata, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}/payments:
    post: {tags: [7. Platform Billing and Catalog], summary: Record invoice payment, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PaymentWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments:
    get: {tags: [7. Platform Billing and Catalog], summary: List payments, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Record payment, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PaymentWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export payments, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View payment, parameters: [{$ref: '#/components/parameters/PaymentUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}/retry:
    post: {tags: [7. Platform Billing and Catalog], summary: Retry payment placeholder, parameters: [{$ref: '#/components/parameters/PaymentUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}/reconcile:
    post: {tags: [7. Platform Billing and Catalog], summary: Reconcile payment placeholder, parameters: [{$ref: '#/components/parameters/PaymentUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}/refund:
    post: {tags: [7. Platform Billing and Catalog], summary: Refund payment, parameters: [{$ref: '#/components/parameters/PaymentUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/RefundWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds:
    get: {tags: [7. Platform Billing and Catalog], summary: List refunds, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create refund, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/RefundWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export refunds, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds/{refund_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View refund, parameters: [{$ref: '#/components/parameters/RefundUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds/{refund_uuid}/retry:
    post: {tags: [7. Platform Billing and Catalog], summary: Retry refund placeholder, parameters: [{$ref: '#/components/parameters/RefundUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons:
    get: {tags: [7. Platform Billing and Catalog], summary: List coupons, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create coupon, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/CouponWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export coupons, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Delete or archive coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/coupons/{coupon_uuid}/activate:
    post: {tags: [7. Platform Billing and Catalog], summary: Activate coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/deactivate:
    post: {tags: [7. Platform Billing and Catalog], summary: Deactivate coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/redemptions:
    get: {tags: [7. Platform Billing and Catalog], summary: Coupon redemptions, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/plans:
    put: {tags: [7. Platform Billing and Catalog], summary: Replace coupon plan assignments, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/tenants:
    put: {tags: [7. Platform Billing and Catalog], summary: Replace coupon tenant assignments, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules:
    get: {tags: [7. Platform Billing and Catalog], summary: List modules, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create module, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/ModuleWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/enable:
    post: {tags: [7. Platform Billing and Catalog], summary: Enable module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/disable:
    post: {tags: [7. Platform Billing and Catalog], summary: Disable module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/features:
    get: {tags: [7. Platform Billing and Catalog], summary: Module features, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Replace module feature assignments, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/tenants:
    get: {tags: [7. Platform Billing and Catalog], summary: Module tenants, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/module-entitlements:
    get: {tags: [7. Platform Billing and Catalog], summary: Tenant module entitlements, parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/modules/{module_code}:
    put: {tags: [7. Platform Billing and Catalog], summary: Override tenant module access, parameters: [{$ref: '#/components/parameters/TenantUuid'}, {$ref: '#/components/parameters/ModuleCode'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/TenantModuleOverride'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum token
  parameters:
    RequestId: {name: X-Request-Id, in: header, required: false, schema: {type: string, example: '{{REQUEST_ID}}'}}
    TenantHeader: {name: X-Tenant, in: header, required: true, schema: {type: string, example: '{{TENANT}}'}}
    LocationSearch: {name: search, in: query, required: false, schema: {type: string, example: ind}}
    CountryIdQuery: {name: country_id, in: query, required: false, schema: {type: integer, example: 1}}
    CountryIso2Query: {name: country_iso2, in: query, required: false, schema: {type: string, example: IN}}
    CountryIdOptionalQuery: {name: country_id, in: query, required: false, schema: {type: integer, example: 1}}
    StateIdQuery: {name: state_id, in: query, required: true, schema: {type: integer, example: 1}}
    Page: {name: page, in: query, schema: {type: integer, example: 1}}
    PerPage: {name: per_page, in: query, schema: {type: integer, example: 25}}
    Search: {name: search, in: query, schema: {type: string, example: billing}}
    StatusFilter: {name: 'filter[status]', in: query, schema: {type: string, enum: [active, inactive]}}
    RoleTypeFilter: {name: 'filter[type]', in: query, schema: {type: string, enum: [system, custom]}}
    GuardFilter: {name: 'filter[guard_name]', in: query, schema: {type: string, example: platform}}
    ModuleFilter: {name: 'filter[module]', in: query, schema: {type: string, example: billing}}
    SessionId: {name: session_id, in: path, required: true, schema: {type: integer, example: 1}}
    TokenUuid: {name: token_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    RoleUuid: {name: role_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    PermissionUuid: {name: permission_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    PlatformUserUuid: {name: platform_user_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    UserUuid: {name: user_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    TenantUuid: {name: tenant_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    TeamUuid: {name: team_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    IdempotencyKey: {name: Idempotency-Key, in: header, required: true, schema: {type: string}, example: '{{REQUEST_ID}}-billing-action'}
    SubscriptionUuid: {name: subscription_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    PlanUuid: {name: plan_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    FeatureUuid: {name: feature_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    AddonUuid: {name: addon_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    AddonId: {name: addon_id, in: path, required: true, schema: {type: integer}}
    InvoiceUuid: {name: invoice_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    PaymentUuid: {name: payment_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    RefundUuid: {name: refund_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    CouponUuid: {name: coupon_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    ModuleUuid: {name: module_uuid, in: path, required: true, schema: {type: string, format: uuid}}
    ModuleCode: {name: module_code, in: path, required: true, schema: {type: string}}
  schemas:
    Country:
      type: object
      properties:
        id: {type: integer, example: 1}
        name: {type: string, example: India}
        iso2: {type: string, example: IN}
        iso3: {type: string, example: IND}
        phone_code: {type: string, example: '+91'}
        currency_code: {type: string, example: INR}
    State:
      type: object
      properties:
        id: {type: integer, example: 1}
        country_id: {type: integer, example: 1}
        name: {type: string, example: Gujarat}
        code: {type: string, example: GJ}
    City:
      type: object
      properties:
        id: {type: integer, example: 1}
        country_id: {type: integer, example: 1}
        state_id: {type: integer, example: 1}
        name: {type: string, example: Ahmedabad}
    PlatformStaffWrite:
      type: object
      properties:
        first_name: {type: string, example: Priya}
        last_name: {type: string, example: Admin}
        display_name: {type: string, example: Priya Admin}
        email: {type: string, format: email, example: priya.admin@example.com}
        password: {type: string, format: password, example: Password@123}
        department: {type: string, example: Support}
        designation: {type: string, example: Manager}
        status: {type: string, enum: [active, inactive, suspended]}
    PlatformTeamWrite:
      type: object
      properties:
        name: {type: string, example: Customer Success}
        code: {type: string, example: customer-success}
        description: {type: string, nullable: true}
        status: {type: string, enum: [active, inactive]}
    PlatformTenantCreate:
      type: object
      required: [organization_name, organization_code, slug, owner, office]
      properties:
        organization_name: {type: string, example: Acme Pvt Ltd}
        organization_code: {type: string, example: ACME}
        slug: {type: string, example: acme}
        plan_uuid: {type: string, format: uuid}
        trial_days: {type: integer, example: 14}
        owner: {type: object, properties: {first_name: {type: string, example: Sahil}, email: {type: string, format: email}, password: {type: string, format: password}}}
        office: {type: object, properties: {office_name: {type: string, example: Head Office}, address_line_1: {type: string}}}
    TenantRegistrationRequest:
      type: object
      required: [organization_name, owner]
      properties:
        organization_name: {type: string, example: Acme Pvt Ltd}
        legal_name: {type: string, nullable: true, example: Acme Private Limited}
        display_name: {type: string, nullable: true, example: Acme}
        organization_code: {type: string, nullable: true, example: ACME}
        slug: {type: string, nullable: true, example: acme}
        business_type_id: {type: integer, nullable: true}
        industry_id: {type: integer, nullable: true}
        company_size: {type: string, enum: [self, small, medium, large, enterprise], nullable: true}
        gst_number: {type: string, nullable: true}
        pan_number: {type: string, nullable: true}
        registration_number: {type: string, nullable: true}
        website: {type: string, nullable: true, example: 'https://acme.example.com'}
        default_currency: {type: string, example: INR}
        default_timezone: {type: string, example: Asia/Kolkata}
        owner:
          type: object
          required: [first_name, email, password, password_confirmation]
          properties:
            first_name: {type: string, example: Sahil}
            last_name: {type: string, nullable: true, example: Owner}
            display_name: {type: string, nullable: true, example: Sahil Owner}
            email: {type: string, format: email, example: owner@example.com}
            mobile: {type: string, nullable: true, example: '+919999999999'}
            password: {type: string, format: password, example: Password@123}
            password_confirmation: {type: string, format: password, example: Password@123}
        office:
          type: object
          properties:
            office_name: {type: string, nullable: true, example: Head Office}
            address_line_1: {type: string, nullable: true}
            address_line_2: {type: string, nullable: true}
            landmark: {type: string, nullable: true}
            country_id: {type: integer, nullable: true}
            state_id: {type: integer, nullable: true}
            city_id: {type: integer, nullable: true}
            postal_code: {type: string, nullable: true}
            contact_phone: {type: string, nullable: true}
    DiscoverRequest:
      type: object
      required: [email]
      properties: {email: {type: string, format: email}, device_name: {type: string}}
    UnifiedLoginRequest:
      type: object
      required: [email, discovery_token, account_ref, password]
      properties: {email: {type: string, format: email}, discovery_token: {type: string}, account_ref: {type: string}, password: {type: string, format: password}, remember: {type: boolean}, device_name: {type: string}}
    LoginTwoFactorRequest:
      type: object
      required: [challenge_token, code]
      properties: {challenge_token: {type: string}, code: {type: string, example: '123456'}, remember_device: {type: boolean}, device_name: {type: string}}
    ForgotPasswordRequest:
      type: object
      required: [email]
      properties: {email: {type: string, format: email}, account_ref: {type: string}, discovery_token: {type: string}}
    PlatformForgotPasswordRequest:
      type: object
      required: [email]
      properties: {email: {type: string, format: email}}
    TenantForgotPasswordRequest:
      type: object
      required: [tenant, email]
      properties: {tenant: {type: string, example: '{{TENANT}}'}, email: {type: string, format: email}}
    ResetPasswordRequest:
      type: object
      required: [email, token, password, password_confirmation]
      properties: {email: {type: string, format: email}, token: {type: string}, password: {type: string, format: password}, password_confirmation: {type: string, format: password}}
    TenantResetPasswordRequest:
      allOf:
        - $ref: '#/components/schemas/ResetPasswordRequest'
        - type: object
          required: [tenant]
          properties: {tenant: {type: string, example: '{{TENANT}}'}}
    TwoFactorCodeRequest: {type: object, required: [code], properties: {code: {type: string, example: '123456'}}}
    ChangePasswordRequest:
      type: object
      required: [current_password, password, password_confirmation]
      properties: {current_password: {type: string, format: password}, password: {type: string, format: password}, password_confirmation: {type: string, format: password}}
    ProfileUpdateRequest:
      type: object
      properties: {first_name: {type: string}, last_name: {type: string, nullable: true}, display_name: {type: string}, mobile: {type: string, nullable: true}, profile_photo_file_id: {type: integer, nullable: true}, timezone: {type: string, example: Asia/Kolkata}, locale: {type: string, example: en}}
    PreferencesUpdateRequest:
      type: object
      required: [preferences]
      properties: {preferences: {type: object, additionalProperties: true}}
    ApiTokenCreateRequest:
      type: object
      required: [name, abilities]
      properties: {name: {type: string, example: BI Warehouse Export}, abilities: {type: array, items: {type: string}, example: [report.view, report.export]}, expires_at: {type: string, format: date-time, nullable: true}}
    AuditReason: {type: object, properties: {audit_reason: {type: string, example: Quarterly access review}}}
    RoleWrite:
      type: object
      required: [name, display_name]
      properties:
        name: {type: string, example: billing_manager_custom}
        display_name: {type: string, example: Billing Manager Custom}
        guard_name: {type: string, example: platform}
        description: {type: string, nullable: true}
        status: {type: string, enum: [active, inactive], example: active}
        is_system: {type: boolean, example: false}
        permission_ids: {type: array, items: {type: string, format: uuid}}
        audit_reason: {type: string, nullable: true}
    RoleUpdate:
      allOf: [{$ref: '#/components/schemas/RoleWrite'}]
    RoleClone:
      type: object
      required: [name, display_name]
      properties: {name: {type: string, example: billing_manager_copy}, display_name: {type: string, example: Billing Manager Copy}, copy_permissions: {type: boolean, example: true}, copy_description: {type: boolean, example: true}, status: {type: string, enum: [active, inactive], example: inactive}, audit_reason: {type: string, nullable: true}}
    PermissionAssignment:
      type: object
      required: [permission_ids]
      properties: {permission_ids: {type: array, items: {type: string, format: uuid}}, audit_reason: {type: string, nullable: true}}
    PlatformUserAssignment:
      type: object
      required: [platform_user_ids]
      properties: {platform_user_ids: {type: array, items: {type: string, format: uuid}}, audit_reason: {type: string, nullable: true}}
    TenantUserAssignment:
      type: object
      required: [user_ids]
      properties: {user_ids: {type: array, items: {type: string, format: uuid}}, audit_reason: {type: string, nullable: true}}
    PermissionWrite:
      type: object
      required: [module, name]
      properties: {module: {type: string, example: billing}, name: {type: string, example: billing.adjustment.create}, display_name: {type: string, example: Create Billing Adjustment}, guard_name: {type: string, example: platform}, description: {type: string, nullable: true}, is_system: {type: boolean, example: false}, status: {type: string, enum: [active, inactive], example: active}}
    PermissionUpdate:
      allOf: [{$ref: '#/components/schemas/PermissionWrite'}]
    PlanWrite: {type: object, required: [name, code, billing_cycle, base_price], properties: {name: {type: string}, code: {type: string}, description: {type: string}, billing_cycle: {type: string}, base_price: {type: number}, currency: {type: string, example: INR}, trial_days: {type: integer}, is_custom: {type: boolean}, is_public: {type: boolean}, status: {type: string}}}
    FeatureWrite: {type: object, required: [module, name, code, data_type], properties: {module: {type: string}, name: {type: string}, code: {type: string}, data_type: {type: string, enum: [boolean, integer, decimal, string, json]}, unit: {type: string}, description: {type: string}, status: {type: string}}}
    AddonWrite: {type: object, required: [name, code, pricing_type, price], properties: {name: {type: string}, code: {type: string}, pricing_type: {type: string}, price: {type: number}, currency: {type: string}, status: {type: string}}}
    PlanFeaturesWrite: {type: object, required: [features], properties: {features: {type: array, items: {type: object, properties: {feature_uuid: {type: string, format: uuid}, value: {}, metadata: {type: object}}}}}}
    CloneBody: {type: object, required: [name, code], properties: {name: {type: string}, code: {type: string}, status: {type: string}}}
    SubscriptionWrite: {type: object, required: [tenant_id, plan_id], properties: {tenant_id: {type: string, format: uuid}, plan_id: {type: string, format: uuid}, type: {type: string}, billing_cycle: {type: string}, status: {type: string}, renewal_type: {type: string}, starts_at: {type: string, format: date-time}, expires_at: {type: string, format: date-time}, currency: {type: string}, auto_renew: {type: boolean}, notes: {type: string}}}
    SubscriptionAddonWrite: {type: object, required: [addon_plan_id], properties: {addon_plan_id: {type: string, format: uuid}, quantity: {type: integer}, unit_price: {type: number}, starts_at: {type: string, format: date-time}, ends_at: {type: string, format: date-time}, status: {type: string}}}
    ApplyCoupon: {type: object, properties: {coupon_code: {type: string}, coupon_uuid: {type: string, format: uuid}}}
    InvoiceWrite: {type: object, required: [tenant_id, invoice_date, items], properties: {tenant_id: {type: string, format: uuid}, subscription_id: {type: string, format: uuid}, invoice_date: {type: string, format: date}, due_date: {type: string, format: date}, currency: {type: string}, status: {type: string}, discount_amount: {type: number}, tax_amount: {type: number}, items: {type: array, items: {type: object, properties: {item_type: {type: string}, description: {type: string}, quantity: {type: number}, unit_price: {type: number}, amount: {type: number}, metadata: {type: object}}}}}}
    PaymentWrite: {type: object, required: [amount, payment_status], properties: {tenant_id: {type: string, format: uuid}, platform_invoice_id: {type: string, format: uuid}, subscription_id: {type: string, format: uuid}, gateway: {type: string}, gateway_payment_id: {type: string}, payment_method: {type: string}, amount: {type: number}, currency: {type: string}, payment_status: {type: string}, paid_at: {type: string, format: date-time}, failure_reason: {type: string}, raw_response: {type: object}}}
    RefundWrite: {type: object, required: [amount], properties: {platform_payment_id: {type: string, format: uuid}, amount: {type: number}, currency: {type: string}, reason: {type: string}, gateway: {type: string}}}
    CouponWrite: {type: object, required: [code, name, discount_type, discount_value], properties: {code: {type: string}, name: {type: string}, discount_type: {type: string, enum: [fixed, percent]}, discount_value: {type: number}, starts_at: {type: string, format: date-time}, expires_at: {type: string, format: date-time}, max_redemptions: {type: integer}, status: {type: string}, plan_uuids: {type: array, items: {type: string, format: uuid}}, tenant_uuids: {type: array, items: {type: string, format: uuid}}}}
    ModuleWrite: {type: object, required: [name, code], properties: {name: {type: string}, code: {type: string}, description: {type: string}, icon: {type: string}, category: {type: string}, is_core: {type: boolean}, status: {type: string}, sort_order: {type: integer}}}
    TenantModuleOverride: {type: object, required: [enabled], properties: {enabled: {type: boolean}, limits: {type: object}, metadata: {type: object}, reason: {type: string}}}
    ReasonBody: {type: object, required: [reason], properties: {reason: {type: string}}}
    ApiError:
      type: object
      properties:
        success: {type: boolean, example: false}
        message: {type: string}
        data: {nullable: true}
        meta: {type: object, properties: {request_id: {type: string}}}
        errors: {type: object, properties: {code: {type: string}, details: {type: object}}}
  responses:
    IdempotencyRequired: {description: Idempotency key required, content: {application/json: {example: {success: false, message: Idempotency-Key header is required for this financial mutation., data: null, meta: {request_id: '{{REQUEST_ID}}'}, errors: {code: IDEMPOTENCY_KEY_REQUIRED, details: []}}}}}
    IdempotencyConflict: {description: Idempotency key conflict, content: {application/json: {example: {success: false, message: Idempotency-Key was already used with different request data., data: null, meta: {request_id: '{{REQUEST_ID}}'}, errors: {code: IDEMPOTENCY_KEY_CONFLICT, details: []}}}}}
    InvoiceNotDraft: {description: Invoice not draft, content: {application/json: {example: {success: false, message: Only draft invoices can be updated., data: null, meta: {request_id: '{{REQUEST_ID}}'}, errors: {code: INVOICE_NOT_DRAFT, details: []}}}}}
    CountryListResponse:
      description: Active country list
      content:
        application/json:
          example:
            success: true
            message: OK
            data:
              countries:
                - {id: 1, name: India, iso2: IN, iso3: IND, phone_code: '+91', currency_code: INR}
            meta: {request_id: '{{REQUEST_ID}}'}
            errors: null
    StateListResponse:
      description: Active state list for a country
      content:
        application/json:
          example:
            success: true
            message: OK
            data:
              states:
                - {id: 1, country_id: 1, name: Gujarat, code: GJ}
            meta: {request_id: '{{REQUEST_ID}}'}
            errors: null
    CityListResponse:
      description: Active city list for a state
      content:
        application/json:
          example:
            success: true
            message: OK
            data:
              cities:
[...]
