openapi: 3.1.0
info:
  title: SaaS MyCRM Completed APIs
  version: 1.0.0
  description: Completed API surface in the same sequence as docs/completed-api-curls.md.
servers:
  - url: https://darkgreen-goat-738912.hostingersite.com
    description: Local API root
tags:
  - name: 0. Common Master Data
  - name: 1. Unified Auth
  - name: 2. Platform Auth/Profile/Security
  - name: 2. Platform API Tokens
  - name: 3. Tenant Auth/Profile/Security
  - name: 3. Tenant API Tokens
  - name: 4. Platform Admin
  - name: 5. Platform Roles
  - name: 5. Platform Permissions
  - name: 6. Tenant Roles
  - name: 6. Tenant Permissions
  - name: 7. Platform Billing and Catalog
  - name: 8. Remaining Platform Admin
  - name: 9. Tenant Workspace Admin
  - name: 10. Tenant CRM
security:
  - bearerAuth: []
paths:
  /api/common/v1/locations/countries:
    get:
      tags: [0. Common Master Data]
      summary: List active countries
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/LocationSearch'}]
      responses:
        '200': {$ref: '#/components/responses/CountryListResponse'}
  /api/common/v1/locations/states:
    get:
      tags: [0. Common Master Data]
      summary: List active states
      description: Common state dropdown API. Pass either country_id or country_iso2; optional search filters by state name or code.
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/CountryIdQuery'}, {$ref: '#/components/parameters/CountryIso2Query'}, {$ref: '#/components/parameters/LocationSearch'}]
      responses:
        '200': {$ref: '#/components/responses/StateListResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/common/v1/locations/cities:
    get:
      tags: [0. Common Master Data]
      summary: List active cities
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/StateIdQuery'}, {$ref: '#/components/parameters/CountryIdOptionalQuery'}, {$ref: '#/components/parameters/LocationSearch'}]
      responses:
        '200': {$ref: '#/components/responses/CityListResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/tenants/register:
    post:
      tags: [1. Unified Auth]
      summary: Register a new SaaS tenant and owner account
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TenantRegistrationRequest'}
            example:
              organization_name: Acme Pvt Ltd
              legal_name: Acme Private Limited
              display_name: Acme
              organization_code: ACME
              slug: acme
              company_size: small
              default_currency: INR
              default_timezone: Asia/Kolkata
              owner:
                first_name: Sahil
                last_name: Owner
                display_name: Sahil Owner
                email: owner@example.com
                mobile: '+919999999999'
                password: Password@123
                password_confirmation: Password@123
              office:
                office_name: Head Office
                address_line_1: Main Street
                postal_code: '400001'
      responses:
        '201': {$ref: '#/components/responses/TenantRegistrationResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/accounts/discover:
    post:
      tags: [1. Unified Auth]
      summary: Discover accounts by email
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/DiscoverRequest'}
            example: {email: user@example.com, device_name: Chrome on Windows}
      responses:
        '200': {$ref: '#/components/responses/DiscoverResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/accounts/login:
    post:
      tags: [1. Unified Auth]
      summary: Login selected account
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/UnifiedLoginRequest'}
            example: {email: user@example.com, discovery_token: disc_short_lived_token, account_ref: acct_opaque_ref, password: StrongPassword#123, remember: true, device_name: Chrome on Windows}
      responses:
        '200': {$ref: '#/components/responses/LoginResponse'}
        '401': {$ref: '#/components/responses/InvalidCredentials'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/accounts/login/2fa:
    post:
      tags: [1. Unified Auth]
      summary: Verify login 2FA challenge
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/LoginTwoFactorRequest'}
      responses:
        '200': {$ref: '#/components/responses/LoginResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/me:
    get:
      tags: [1. Unified Auth]
      summary: Current unified session
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      responses:
        '200': {$ref: '#/components/responses/CurrentSessionResponse'}
        '401': {$ref: '#/components/responses/Unauthenticated'}
  /api/auth/v1/logout:
    post:
      tags: [1. Unified Auth]
      summary: Logout current unified session
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        content:
          application/json:
            schema: {type: object, properties: {all_devices: {type: boolean, example: false}}}
      responses:
        '200': {$ref: '#/components/responses/LogoutResponse'}
        '401': {$ref: '#/components/responses/Unauthenticated'}
  /api/auth/v1/password/forgot:
    post:
      tags: [1. Unified Auth]
      summary: Request password reset
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ForgotPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ForgotPasswordResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/auth/v1/password/reset:
    post:
      tags: [1. Unified Auth]
      summary: Reset password
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ResetPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ResetPasswordResponse'}
        '422': {$ref: '#/components/responses/ValidationError'}
  /api/platform/v1/auth/forgot-password:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Request platform password reset
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PlatformForgotPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ForgotPasswordResponse'}
  /api/platform/v1/auth/reset-password:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Reset platform password
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ResetPasswordRequest'}
      responses:
        '200': {$ref: '#/components/responses/ResetPasswordResponse'}
  /api/platform/v1/auth/logout:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Revoke current platform token
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '401': {$ref: '#/components/responses/Unauthenticated'}}
  /api/platform/v1/auth/refresh:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Rotate current platform token
      security: [{bearerAuth: []}]
      requestBody:
        content:
          application/json:
            schema: {type: object, properties: {device_name: {type: string, example: platform-api}}}
      responses: {'200': {$ref: '#/components/responses/TokenRefreshResponse'}}
  /api/platform/v1/auth/me:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: Platform current user
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PlatformMeResponse'}}
  /api/platform/v1/auth/verify-email/resend:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Queue platform verification email placeholder
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/platform/v1/auth/2fa/enable:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Start platform TOTP 2FA setup
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/TwoFactorEnableResponse'}}
  /api/platform/v1/auth/2fa/confirm:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Confirm platform TOTP 2FA setup
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TwoFactorCodeRequest'}
      responses: {'200': {$ref: '#/components/responses/TwoFactorConfirmResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/auth/2fa/disable:
    post:
      tags: [2. Platform Auth/Profile/Security]
      summary: Disable platform 2FA
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {type: object, required: [password], properties: {password: {type: string, format: password}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/platform/v1/profile:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: Get platform profile
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PlatformProfileResponse'}}
    patch:
      tags: [2. Platform Auth/Profile/Security]
      summary: Update platform profile
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PlatformProfileResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
    put:
      tags: [2. Platform Auth/Profile/Security]
      summary: Update platform profile
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PlatformProfileResponse'}}
  /api/platform/v1/profile/password:
    put:
      tags: [2. Platform Auth/Profile/Security]
      summary: Change platform password
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChangePasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/platform/v1/settings/preferences:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: List platform preferences
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
    put:
      tags: [2. Platform Auth/Profile/Security]
      summary: Update platform preferences
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PreferencesUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
  /api/platform/v1/profile/sessions:
    get:
      tags: [2. Platform Auth/Profile/Security]
      summary: List platform Sanctum sessions/tokens
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SessionsResponse'}}
  /api/platform/v1/profile/sessions/{session_id}:
    delete:
      tags: [2. Platform Auth/Profile/Security]
      summary: Revoke platform session/token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/SessionId'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/platform/v1/api-tokens:
    get:
      tags: [2. Platform API Tokens]
      summary: List platform API tokens
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenListResponse'}}
    post:
      tags: [2. Platform API Tokens]
      summary: Create platform API token
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApiTokenCreateRequest'}
      responses: {'201': {$ref: '#/components/responses/ApiTokenCreatedResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/api-tokens/{token_uuid}:
    get:
      tags: [2. Platform API Tokens]
      summary: Show platform API token metadata
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenShowResponse'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/platform/v1/api-tokens/{token_uuid}/rotate:
    post:
      tags: [2. Platform API Tokens]
      summary: Rotate platform API token and return raw token once
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenCreatedResponse'}}
  /api/platform/v1/api-tokens/{token_uuid}/revoke:
    post:
      tags: [2. Platform API Tokens]
      summary: Revoke platform API token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/tenant/v1/auth/forgot-password:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Request tenant password reset
      security: []
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TenantForgotPasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/ForgotPasswordResponse'}}
  /api/tenant/v1/auth/reset-password:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Reset tenant password
      security: []
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RequestId'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TenantResetPasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/ResetPasswordResponse'}}
  /api/tenant/v1/auth/logout:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Revoke current tenant token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '401': {$ref: '#/components/responses/Unauthenticated'}}
  /api/tenant/v1/auth/refresh:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Rotate current tenant token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        content:
          application/json:
            schema: {type: object, properties: {device_name: {type: string, example: tenant-api}}}
      responses: {'200': {$ref: '#/components/responses/TokenRefreshResponse'}}
  /api/tenant/v1/auth/me:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Tenant current user
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/TenantMeResponse'}}
  /api/tenant/v1/auth/verify-email/resend:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Queue tenant verification email placeholder
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/tenant/v1/auth/2fa/enable:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Start tenant TOTP 2FA setup
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/TwoFactorEnableResponse'}}
  /api/tenant/v1/auth/2fa/confirm:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Confirm tenant TOTP 2FA setup
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/TwoFactorCodeRequest'}
      responses: {'200': {$ref: '#/components/responses/TwoFactorConfirmResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/tenant/v1/auth/2fa/disable:
    post:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Disable tenant 2FA
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {type: object, required: [password], properties: {password: {type: string, format: password}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/tenant/v1/profile:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Get tenant profile
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/TenantProfileResponse'}}
    patch:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Update tenant profile
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/TenantProfileResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
    put:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Update tenant profile
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ProfileUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/TenantProfileResponse'}}
  /api/tenant/v1/profile/password:
    put:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Change tenant password
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChangePasswordRequest'}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '422': {$ref: '#/components/responses/InvalidPassword'}}
  /api/tenant/v1/profile/preferences:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: List tenant preferences
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
    put:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Update tenant preferences
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/PreferencesUpdateRequest'}
      responses: {'200': {$ref: '#/components/responses/PreferencesResponse'}}
  /api/tenant/v1/profile/sessions:
    get:
      tags: [3. Tenant Auth/Profile/Security]
      summary: List tenant Sanctum sessions/tokens
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/SessionsResponse'}}
  /api/tenant/v1/profile/sessions/{session_id}:
    delete:
      tags: [3. Tenant Auth/Profile/Security]
      summary: Revoke tenant session/token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/SessionId'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/tenant/v1/profile/api-tokens:
    get:
      tags: [3. Tenant API Tokens]
      summary: List tenant API tokens
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenListResponse'}}
    post:
      tags: [3. Tenant API Tokens]
      summary: Create tenant API token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ApiTokenCreateRequest'}
      responses: {'201': {$ref: '#/components/responses/ApiTokenCreatedResponse'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/tenant/v1/profile/api-tokens/{token_uuid}/rotate:
    post:
      tags: [3. Tenant API Tokens]
      summary: Rotate tenant API token and return raw token once
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/ApiTokenCreatedResponse'}}
  /api/tenant/v1/profile/api-tokens/{token_uuid}/revoke:
    post:
      tags: [3. Tenant API Tokens]
      summary: Revoke tenant API token
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/TokenUuid'}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/platform/v1/dashboard/summary:
    get: {tags: [4. Platform Admin], summary: Platform dashboard summary, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}}}
  /api/platform/v1/dashboard/charts:
    get: {tags: [4. Platform Admin], summary: Platform dashboard aggregate charts, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/dashboard/charts/{chart}:
    get:
      tags: [4. Platform Admin]
      summary: Platform dashboard chart widget
      security: [{bearerAuth: []}]
      parameters:
        - {name: chart, in: path, required: true, schema: {type: string, enum: [tenant-growth, revenue, plan-distribution, subscription-status, usage]}}
      responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/platform/v1/dashboard/recent:
    get: {tags: [4. Platform Admin], summary: Platform dashboard aggregate recent records, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/dashboard/recent-tenants:
    get: {tags: [4. Platform Admin], summary: Platform dashboard recent tenants, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}}}
  /api/platform/v1/dashboard/recent-payments:
    get: {tags: [4. Platform Admin], summary: Platform dashboard recent payments, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}}}
  /api/platform/v1/dashboard/overdue-invoices:
    get: {tags: [4. Platform Admin], summary: Platform dashboard overdue invoices, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}}}
  /api/platform/v1/dashboard/alerts:
    get: {tags: [4. Platform Admin], summary: Platform dashboard aggregate alerts and security events, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/dashboard/active-alerts:
    get: {tags: [4. Platform Admin], summary: Platform dashboard active alerts, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}}}
  /api/platform/v1/dashboard/security-events:
    get: {tags: [4. Platform Admin], summary: Platform dashboard security events, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}}}
  /api/platform/v1/dashboard/export:
    post: {tags: [4. Platform Admin], summary: Export platform dashboard, security: [{bearerAuth: []}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users:
    get: {tags: [4. Platform Admin], summary: List platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/platform-users/invite:
    post: {tags: [4. Platform Admin], summary: Invite platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/export:
    post: {tags: [4. Platform Admin], summary: Export platform staff, security: [{bearerAuth: []}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}:
    parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}]
    get: {tags: [4. Platform Admin], summary: View platform staff, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '404': {$ref: '#/components/responses/NotFound'}}}
    patch: {tags: [4. Platform Admin], summary: Update platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update platform staff, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformStaffWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Delete platform staff, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/restore:
    post: {tags: [4. Platform Admin], summary: Restore platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/suspend:
    post: {tags: [4. Platform Admin], summary: Suspend platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/activate:
    post: {tags: [4. Platform Admin], summary: Activate platform staff, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/reset-password:
    post: {tags: [4. Platform Admin], summary: Send platform staff reset password email, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/force-logout:
    post: {tags: [4. Platform Admin], summary: Force platform staff logout, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/require-2fa:
    post: {tags: [4. Platform Admin], summary: Require platform staff 2FA, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/roles:
    get: {tags: [4. Platform Admin], summary: Platform staff roles, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Replace platform staff roles, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], requestBody: {content: {application/json: {example: {role_uuids: [role_uuid]}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/permissions:
    get: {tags: [4. Platform Admin], summary: Platform staff direct permissions, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Replace platform staff direct permissions, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], requestBody: {content: {application/json: {example: {permission_uuids: [permission_uuid]}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-users/{platform_user_uuid}/activity:
    get: {tags: [4. Platform Admin], summary: Platform staff activity, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/PlatformUserUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams:
    get: {tags: [4. Platform Admin], summary: List platform teams, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/Sort'}, {$ref: '#/components/parameters/Direction'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform team, security: [{bearerAuth: []}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams/{team_uuid}:
    parameters: [{$ref: '#/components/parameters/TeamUuid'}]
    get: {tags: [4. Platform Admin], summary: View platform team, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [4. Platform Admin], summary: Update platform team, security: [{bearerAuth: []}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update platform team, security: [{bearerAuth: []}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Archive platform team, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-teams/{team_uuid}/members:
    get: {tags: [4. Platform Admin], summary: List platform team members, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Add platform team member, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], requestBody: {content: {application/json: {example: {platform_user_uuid: platform_user_uuid, team_role_uuid: team_role_uuid}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams/{team_uuid}/members/{member_id}:
    parameters: [{$ref: '#/components/parameters/TeamUuid'}, {name: member_id, in: path, required: true, schema: {type: integer}}]
    patch: {tags: [4. Platform Admin], summary: Update platform team member, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update platform team member, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Remove platform team member, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-teams/{team_uuid}/assignments:
    get: {tags: [4. Platform Admin], summary: List platform team assignments, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform team assignment, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/platform-teams/{team_uuid}/assignments/{assignment_id}:
    delete: {tags: [4. Platform Admin], summary: Release platform team assignment, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TeamUuid'}, {name: assignment_id, in: path, required: true, schema: {type: integer}}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/platform-team-roles:
    get: {tags: [4. Platform Admin], summary: List platform team roles, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/Sort'}, {$ref: '#/components/parameters/Direction'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create platform team role, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamRoleCreate'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/platform-team-roles/{role_uuid}:
    get: {tags: [4. Platform Admin], summary: View platform team role, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/RoleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '404': {$ref: '#/components/responses/NotFound'}}}
    patch: {tags: [4. Platform Admin], summary: Update platform team role, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/RoleUuid'}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamRoleUpdate'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
    put: {tags: [4. Platform Admin], summary: Update platform team role, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/RoleUuid'}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTeamRoleUpdate'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
    delete: {tags: [4. Platform Admin], summary: Delete custom unused platform team role, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/RoleUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '403': {$ref: '#/components/responses/Forbidden'}, '409': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants:
    get: {tags: [4. Platform Admin], summary: List tenants, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [4. Platform Admin], summary: Create tenant with owner office subscription settings and roles, security: [{bearerAuth: []}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformTenantCreate'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/tenants/{tenant_uuid}:
    parameters: [{$ref: '#/components/parameters/TenantUuid'}]
    get: {tags: [4. Platform Admin], summary: Tenant overview, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [4. Platform Admin], summary: Update tenant organization, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [4. Platform Admin], summary: Update tenant organization, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [4. Platform Admin], summary: Archive tenant, security: [{bearerAuth: []}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/restore:
    post: {tags: [4. Platform Admin], summary: Restore tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/activate:
    post: {tags: [4. Platform Admin], summary: Activate tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/suspend:
    post: {tags: [4. Platform Admin], summary: Suspend tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {reason: Payment overdue, notify_owner: true}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/tenants/{tenant_uuid}/reactivate:
    post: {tags: [4. Platform Admin], summary: Reactivate tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/archive:
    post: {tags: [4. Platform Admin], summary: Archive tenant, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/extend-trial:
    post: {tags: [4. Platform Admin], summary: Extend tenant trial, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {trial_ends_at: '2026-09-30T00:00:00Z', reason: Sales-approved extension}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/impersonate:
    post: {tags: [4. Platform Admin], summary: Start remote login session, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {reason: Debug billing setup with customer approval, duration_minutes: 30, target_user_uuid: user_uuid}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '422': {$ref: '#/components/responses/ValidationError'}}}
  /api/platform/v1/tenants/{tenant_uuid}/impersonate/{session_uuid}:
    delete: {tags: [4. Platform Admin], summary: End remote login session, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}, {name: session_uuid, in: path, required: true, schema: {type: string, format: uuid}}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/tenants/{tenant_uuid}/{tab}:
    get: {tags: [4. Platform Admin], summary: Tenant detail tab, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}, {name: tab, in: path, required: true, schema: {type: string, enum: [users, offices, subscription, billing, usage, modules, settings, integrations, security, support, files, activity]}}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/modules:
    put: {tags: [4. Platform Admin], summary: Update tenant module overrides, security: [{bearerAuth: []}], parameters: [{$ref: '#/components/parameters/TenantUuid'}], requestBody: {content: {application/json: {example: {modules: [{module_code: crm, enabled: true, limits: {users: 25}}]}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/access-control/roles:
    get:
      tags: [5. Platform Roles]
      summary: List platform roles
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/RoleTypeFilter'}, {$ref: '#/components/parameters/GuardFilter'}, {$ref: '#/components/parameters/Sort'}, {$ref: '#/components/parameters/Direction'}]
      responses: {'200': {$ref: '#/components/responses/RoleList'}, '403': {$ref: '#/components/responses/Forbidden'}}
    post:
      tags: [5. Platform Roles]
      summary: Create platform role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleWrite'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/access-control/roles/export:
    post:
      tags: [5. Platform Roles]
      summary: Export platform roles as queued job or immediate CSV download
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ExportBody'}}}}
      responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}, '422': {$ref: '#/components/responses/ValidationError'}}  /api/platform/v1/access-control/roles/{role_uuid}:
    parameters: [{$ref: '#/components/parameters/RoleUuid'}]
    get:
      tags: [5. Platform Roles]
      summary: View platform role
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
    patch:
      tags: [5. Platform Roles]
      summary: Update platform role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '403': {$ref: '#/components/responses/SystemRoleRenameForbidden'}}
    put:
      tags: [5. Platform Roles]
      summary: Update platform role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
    delete:
      tags: [5. Platform Roles]
      summary: Delete custom unused platform role
      security: [{bearerAuth: []}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '403': {$ref: '#/components/responses/SystemRoleDeleteForbidden'}, '409': {$ref: '#/components/responses/RoleInUse'}}
  /api/platform/v1/access-control/roles/{role_uuid}/clone:
    post:
      tags: [5. Platform Roles]
      summary: Clone platform role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleClone'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/activate:
    post:
      tags: [5. Platform Roles]
      summary: Activate platform role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/deactivate:
    post:
      tags: [5. Platform Roles]
      summary: Deactivate platform role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/permissions:
    get:
      tags: [5. Platform Roles]
      summary: List platform role permissions grouped by module
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
    put:
      tags: [5. Platform Roles]
      summary: Replace platform role permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/platform/v1/access-control/roles/{role_uuid}/users:
    get:
      tags: [5. Platform Roles]
      summary: List platform users assigned to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/UserList'}}
    post:
      tags: [5. Platform Roles]
      summary: Assign platform users to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PlatformUserAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/AssignedCount'}}
  /api/platform/v1/access-control/roles/{role_uuid}/users/{platform_user_uuid}:
    delete:
      tags: [5. Platform Roles]
      summary: Remove platform user from role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/RoleUuid'}, {$ref: '#/components/parameters/PlatformUserUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}}
  /api/platform/v1/access-control/permissions:
    get:
      tags: [5. Platform Permissions]
      summary: List platform permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/ModuleFilter'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/GuardFilter'}, {$ref: '#/components/parameters/Sort'}, {$ref: '#/components/parameters/Direction'}]
      responses: {'200': {$ref: '#/components/responses/PermissionList'}}
    post:
      tags: [5. Platform Permissions]
      summary: Create platform permission
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionWrite'}}}}
      responses: {'201': {$ref: '#/components/responses/PermissionSingle'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/platform/v1/access-control/permissions/export:
    post:
      tags: [5. Platform Permissions]
      summary: Export platform permissions as queued job or immediate CSV download
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ExportBody'}}}}
      responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '403': {$ref: '#/components/responses/Forbidden'}, '422': {$ref: '#/components/responses/ValidationError'}}  /api/platform/v1/access-control/permissions/grouped:
    get:
      tags: [5. Platform Permissions]
      summary: List platform permissions grouped by module
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
  /api/platform/v1/access-control/permissions/{permission_uuid}:
    parameters: [{$ref: '#/components/parameters/PermissionUuid'}]
    get:
      tags: [5. Platform Permissions]
      summary: View platform permission
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
    patch:
      tags: [5. Platform Permissions]
      summary: Update platform permission
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}, '403': {$ref: '#/components/responses/SystemPermissionRenameForbidden'}}
    put:
      tags: [5. Platform Permissions]
      summary: Update platform permission
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}}
    delete:
      tags: [5. Platform Permissions]
      summary: Delete custom unused platform permission
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '403': {$ref: '#/components/responses/SystemPermissionDeleteForbidden'}, '409': {$ref: '#/components/responses/PermissionInUse'}}
  /api/tenant/v1/access-control/roles:
    get:
      tags: [6. Tenant Roles]
      summary: List tenant roles
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/GuardFilter'}]
      responses: {'200': {$ref: '#/components/responses/RoleList'}, '403': {$ref: '#/components/responses/Forbidden'}}
    post:
      tags: [6. Tenant Roles]
      summary: Create tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleWrite'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}, '422': {$ref: '#/components/responses/ValidationError'}}
  /api/tenant/v1/access-control/roles/{role_uuid}:
    parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
    get:
      tags: [6. Tenant Roles]
      summary: View tenant role
      security: [{bearerAuth: []}]
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
    patch:
      tags: [6. Tenant Roles]
      summary: Update tenant role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '403': {$ref: '#/components/responses/SystemRoleRenameForbidden'}}
    put:
      tags: [6. Tenant Roles]
      summary: Update tenant role
      security: [{bearerAuth: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleUpdate'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
    delete:
      tags: [6. Tenant Roles]
      summary: Delete custom unused tenant role
      security: [{bearerAuth: []}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '403': {$ref: '#/components/responses/SystemRoleDeleteForbidden'}, '409': {$ref: '#/components/responses/FinalOwnerAdminRequired'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/clone:
    post:
      tags: [6. Tenant Roles]
      summary: Clone tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RoleClone'}}}}
      responses: {'201': {$ref: '#/components/responses/RoleSingle'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/activate:
    post:
      tags: [6. Tenant Roles]
      summary: Activate tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/deactivate:
    post:
      tags: [6. Tenant Roles]
      summary: Deactivate tenant role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}, '409': {$ref: '#/components/responses/FinalOwnerAdminRequired'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/permissions:
    get:
      tags: [6. Tenant Roles]
      summary: List tenant role permissions grouped by module
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
    put:
      tags: [6. Tenant Roles]
      summary: Replace tenant role permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PermissionAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/RoleSingle'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/users:
    get:
      tags: [6. Tenant Roles]
      summary: List tenant users assigned to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      responses: {'200': {$ref: '#/components/responses/UserList'}}
    post:
      tags: [6. Tenant Roles]
      summary: Assign tenant users to role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/TenantUserAssignment'}}}}
      responses: {'200': {$ref: '#/components/responses/AssignedCount'}}
  /api/tenant/v1/access-control/roles/{role_uuid}/users/{user_uuid}:
    delete:
      tags: [6. Tenant Roles]
      summary: Remove tenant user from role
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/RoleUuid'}, {$ref: '#/components/parameters/UserUuid'}]
      requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AuditReason'}}}}
      responses: {'200': {$ref: '#/components/responses/SuccessNull'}, '409': {$ref: '#/components/responses/FinalOwnerAdminRequired'}}
  /api/tenant/v1/access-control/permissions:
    get:
      tags: [6. Tenant Permissions]
      summary: List tenant permissions
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/Page'}, {$ref: '#/components/parameters/PerPage'}, {$ref: '#/components/parameters/Search'}, {$ref: '#/components/parameters/ModuleFilter'}, {$ref: '#/components/parameters/StatusFilter'}, {$ref: '#/components/parameters/GuardFilter'}]
      responses: {'200': {$ref: '#/components/responses/PermissionList'}}
  /api/tenant/v1/access-control/permissions/grouped:
    get:
      tags: [6. Tenant Permissions]
      summary: List tenant permissions grouped by module
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}]
      responses: {'200': {$ref: '#/components/responses/GroupedPermissions'}}
  /api/tenant/v1/access-control/permissions/{permission_uuid}:
    get:
      tags: [6. Tenant Permissions]
      summary: View tenant permission
      security: [{bearerAuth: []}]
      parameters: [{$ref: '#/components/parameters/TenantHeader'}, {$ref: '#/components/parameters/PermissionUuid'}]
      responses: {'200': {$ref: '#/components/responses/PermissionSingle'}, '404': {$ref: '#/components/responses/NotFound'}}
  /api/platform/v1/subscriptions:
    get: {tags: [7. Platform Billing and Catalog], summary: List subscriptions, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create subscription, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/SubscriptionWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}, '409': {$ref: '#/components/responses/IdempotencyRequired'}}}
  /api/platform/v1/subscriptions/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export subscriptions, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/upgrade:
    post: {tags: [7. Platform Billing and Catalog], summary: Upgrade subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/downgrade:
    post: {tags: [7. Platform Billing and Catalog], summary: Downgrade subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/renew:
    post: {tags: [7. Platform Billing and Catalog], summary: Renew subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/pause:
    post: {tags: [7. Platform Billing and Catalog], summary: Pause subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/resume:
    post: {tags: [7. Platform Billing and Catalog], summary: Resume subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/cancel:
    post: {tags: [7. Platform Billing and Catalog], summary: Cancel subscription, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/ReasonBody'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/addons:
    post: {tags: [7. Platform Billing and Catalog], summary: Add subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/SubscriptionAddonWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/addons/{addon_id}:
    patch: {tags: [7. Platform Billing and Catalog], summary: Update subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/AddonId'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/AddonId'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Cancel subscription add-on, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/AddonId'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/apply-coupon:
    post: {tags: [7. Platform Billing and Catalog], summary: Apply coupon, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/ApplyCoupon'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/coupons/{coupon_uuid}:
    delete: {tags: [7. Platform Billing and Catalog], summary: Remove coupon, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/CouponUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/usage:
    get: {tags: [7. Platform Billing and Catalog], summary: Subscription usage, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/invoice:
    post: {tags: [7. Platform Billing and Catalog], summary: Create subscription invoice, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/subscriptions/{subscription_uuid}/history:
    get: {tags: [7. Platform Billing and Catalog], summary: Subscription versions and renewals, parameters: [{$ref: '#/components/parameters/SubscriptionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans:
    get: {tags: [7. Platform Billing and Catalog], summary: List plans, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create plan, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlanWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export plans, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/{plan_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Archive plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/plans/{plan_uuid}/clone:
    post: {tags: [7. Platform Billing and Catalog], summary: Clone plan, parameters: [{$ref: '#/components/parameters/PlanUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/CloneBody'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/{plan_uuid}/features:
    get: {tags: [7. Platform Billing and Catalog], summary: Plan features, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Replace plan features, parameters: [{$ref: '#/components/parameters/PlanUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PlanFeaturesWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/plans/{plan_uuid}/subscriptions:
    get: {tags: [7. Platform Billing and Catalog], summary: Plan subscriptions, parameters: [{$ref: '#/components/parameters/PlanUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/features:
    get: {tags: [7. Platform Billing and Catalog], summary: List features, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create feature, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/FeatureWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/features/{feature_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Deactivate feature, parameters: [{$ref: '#/components/parameters/FeatureUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/addons:
    get: {tags: [7. Platform Billing and Catalog], summary: List add-on plans, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create add-on plan, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/AddonWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/addons/{addon_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Archive add-on plan, parameters: [{$ref: '#/components/parameters/AddonUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/billing/invoices:
    get: {tags: [7. Platform Billing and Catalog], summary: List platform invoices, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create manual invoice, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/InvoiceWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export invoices, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update draft invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '409': {$ref: '#/components/responses/InvoiceNotDraft'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update draft invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}, '409': {$ref: '#/components/responses/InvoiceNotDraft'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Cancel invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}/send:
    post: {tags: [7. Platform Billing and Catalog], summary: Send invoice, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}/pdf:
    get: {tags: [7. Platform Billing and Catalog], summary: Generate invoice PDF metadata, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/invoices/{invoice_uuid}/payments:
    post: {tags: [7. Platform Billing and Catalog], summary: Record invoice payment, parameters: [{$ref: '#/components/parameters/InvoiceUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PaymentWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments:
    get: {tags: [7. Platform Billing and Catalog], summary: List payments, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Record payment, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/PaymentWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export payments, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View payment, parameters: [{$ref: '#/components/parameters/PaymentUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}/retry:
    post: {tags: [7. Platform Billing and Catalog], summary: Retry payment placeholder, parameters: [{$ref: '#/components/parameters/PaymentUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}/reconcile:
    post: {tags: [7. Platform Billing and Catalog], summary: Reconcile payment placeholder, parameters: [{$ref: '#/components/parameters/PaymentUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/payments/{payment_uuid}/refund:
    post: {tags: [7. Platform Billing and Catalog], summary: Refund payment, parameters: [{$ref: '#/components/parameters/PaymentUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/RefundWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds:
    get: {tags: [7. Platform Billing and Catalog], summary: List refunds, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create refund, parameters: [{$ref: '#/components/parameters/IdempotencyKey'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/RefundWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export refunds, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds/{refund_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View refund, parameters: [{$ref: '#/components/parameters/RefundUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/billing/refunds/{refund_uuid}/retry:
    post: {tags: [7. Platform Billing and Catalog], summary: Retry refund placeholder, parameters: [{$ref: '#/components/parameters/RefundUuid'}, {$ref: '#/components/parameters/IdempotencyKey'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons:
    get: {tags: [7. Platform Billing and Catalog], summary: List coupons, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create coupon, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/CouponWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/export:
    post: {tags: [7. Platform Billing and Catalog], summary: Export coupons, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    delete: {tags: [7. Platform Billing and Catalog], summary: Delete or archive coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/coupons/{coupon_uuid}/activate:
    post: {tags: [7. Platform Billing and Catalog], summary: Activate coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/deactivate:
    post: {tags: [7. Platform Billing and Catalog], summary: Deactivate coupon, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/redemptions:
    get: {tags: [7. Platform Billing and Catalog], summary: Coupon redemptions, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/plans:
    put: {tags: [7. Platform Billing and Catalog], summary: Replace coupon plan assignments, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/coupons/{coupon_uuid}/tenants:
    put: {tags: [7. Platform Billing and Catalog], summary: Replace coupon tenant assignments, parameters: [{$ref: '#/components/parameters/CouponUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules:
    get: {tags: [7. Platform Billing and Catalog], summary: List modules, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [7. Platform Billing and Catalog], summary: Create module, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/ModuleWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}:
    get: {tags: [7. Platform Billing and Catalog], summary: View module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [7. Platform Billing and Catalog], summary: Update module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Update module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/enable:
    post: {tags: [7. Platform Billing and Catalog], summary: Enable module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/disable:
    post: {tags: [7. Platform Billing and Catalog], summary: Disable module, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/features:
    get: {tags: [7. Platform Billing and Catalog], summary: Module features, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [7. Platform Billing and Catalog], summary: Replace module feature assignments, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/modules/{module_uuid}/tenants:
    get: {tags: [7. Platform Billing and Catalog], summary: Module tenants, parameters: [{$ref: '#/components/parameters/ModuleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/module-entitlements:
    get: {tags: [7. Platform Billing and Catalog], summary: Tenant module entitlements, parameters: [{$ref: '#/components/parameters/TenantUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/tenants/{tenant_uuid}/modules/{module_code}:
    put: {tags: [7. Platform Billing and Catalog], summary: Override tenant module access, parameters: [{$ref: '#/components/parameters/TenantUuid'}, {$ref: '#/components/parameters/ModuleCode'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/TenantModuleOverride'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets:
    get: {tags: [8. Remaining Platform Admin], summary: List platform support tickets, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [8. Remaining Platform Admin], summary: Create platform support ticket, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/SupportTicketWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets/export:
    post: {tags: [8. Remaining Platform Admin], summary: Export support tickets, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets/{ticket_uuid}:
    get: {tags: [8. Remaining Platform Admin], summary: Support ticket detail, parameters: [{$ref: '#/components/parameters/TicketUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [8. Remaining Platform Admin], summary: Update support ticket, parameters: [{$ref: '#/components/parameters/TicketUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/SupportTicketUpdate'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [8. Remaining Platform Admin], summary: Update support ticket, parameters: [{$ref: '#/components/parameters/TicketUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/SupportTicketUpdate'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets/{ticket_uuid}/assign:
    post: {tags: [8. Remaining Platform Admin], summary: Assign support ticket, parameters: [{$ref: '#/components/parameters/TicketUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/TicketAssign'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets/{ticket_uuid}/comments:
    post: {tags: [8. Remaining Platform Admin], summary: Add ticket comment or internal note, parameters: [{$ref: '#/components/parameters/TicketUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/TicketComment'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets/{ticket_uuid}/attachments:
    post: {tags: [8. Remaining Platform Admin], summary: Attach existing file to ticket, parameters: [{$ref: '#/components/parameters/TicketUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/FileUuidBody'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets/{ticket_uuid}/close:
    post: {tags: [8. Remaining Platform Admin], summary: Close support ticket, parameters: [{$ref: '#/components/parameters/TicketUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/NotesBody'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/tickets/{ticket_uuid}/reopen:
    post: {tags: [8. Remaining Platform Admin], summary: Reopen support ticket, parameters: [{$ref: '#/components/parameters/TicketUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/knowledge-base/categories:
    get: {tags: [8. Remaining Platform Admin], summary: List KB categories, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [8. Remaining Platform Admin], summary: Create KB category, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/KbCategoryWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/knowledge-base/categories/{category_uuid}:
    patch: {tags: [8. Remaining Platform Admin], summary: Update KB category, parameters: [{$ref: '#/components/parameters/CategoryUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/KbCategoryWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [8. Remaining Platform Admin], summary: Update KB category, parameters: [{$ref: '#/components/parameters/CategoryUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/KbCategoryWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/knowledge-base/articles:
    get: {tags: [8. Remaining Platform Admin], summary: List KB articles, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [8. Remaining Platform Admin], summary: Create KB article, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/KbArticleWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/knowledge-base/articles/{article_uuid}:
    get: {tags: [8. Remaining Platform Admin], summary: View KB article, parameters: [{$ref: '#/components/parameters/ArticleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [8. Remaining Platform Admin], summary: Update KB article, parameters: [{$ref: '#/components/parameters/ArticleUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/KbArticleWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [8. Remaining Platform Admin], summary: Update KB article, parameters: [{$ref: '#/components/parameters/ArticleUuid'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/KbArticleWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/knowledge-base/articles/{article_uuid}/publish:
    post: {tags: [8. Remaining Platform Admin], summary: Publish KB article, parameters: [{$ref: '#/components/parameters/ArticleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/knowledge-base/articles/{article_uuid}/unpublish:
    post: {tags: [8. Remaining Platform Admin], summary: Unpublish KB article, parameters: [{$ref: '#/components/parameters/ArticleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/knowledge-base/articles/{article_uuid}/archive:
    post: {tags: [8. Remaining Platform Admin], summary: Archive KB article, parameters: [{$ref: '#/components/parameters/ArticleUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/remote-login-sessions:
    get: {tags: [8. Remaining Platform Admin], summary: List remote login sessions, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/remote-login-sessions/{session_uuid}:
    get: {tags: [8. Remaining Platform Admin], summary: Remote login session detail, parameters: [{$ref: '#/components/parameters/SessionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/support/remote-login-sessions/{session_uuid}/end:
    post: {tags: [8. Remaining Platform Admin], summary: End remote login session, parameters: [{$ref: '#/components/parameters/SessionUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/reports/export-jobs:
    get: {tags: [8. Remaining Platform Admin], summary: List report export jobs, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/reports/export-jobs/{job_uuid}:
    get: {tags: [8. Remaining Platform Admin], summary: Report export job detail, parameters: [{$ref: '#/components/parameters/JobUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/reports/{report_code}:
    get: {tags: [8. Remaining Platform Admin], summary: Run platform report, parameters: [{$ref: '#/components/parameters/ReportCode'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/reports/{report_code}/export:
    post: {tags: [8. Remaining Platform Admin], summary: Queue report export, parameters: [{$ref: '#/components/parameters/ReportCode'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/ExportBody'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/services:
    get: {tags: [8. Remaining Platform Admin], summary: List monitoring services, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/services/{service_code}/logs:
    get: {tags: [8. Remaining Platform Admin], summary: Monitoring service logs, parameters: [{$ref: '#/components/parameters/ServiceCode'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/api-request-logs:
    get: {tags: [8. Remaining Platform Admin], summary: API request logs, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/queue-jobs:
    get: {tags: [8. Remaining Platform Admin], summary: Queue job logs, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/queue-jobs/{job_id}/retry:
    post: {tags: [8. Remaining Platform Admin], summary: Retry queue job, parameters: [{$ref: '#/components/parameters/JobId'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/queue-jobs/{job_id}:
    delete: {tags: [8. Remaining Platform Admin], summary: Mark queue job deleted, parameters: [{$ref: '#/components/parameters/JobId'}], responses: {'200': {$ref: '#/components/responses/SuccessNull'}}}
  /api/platform/v1/monitoring/scheduler-logs:
    get: {tags: [8. Remaining Platform Admin], summary: Scheduler logs, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/alerts:
    get: {tags: [8. Remaining Platform Admin], summary: Monitoring alerts, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/alerts/{alert_id}/resolve:
    post: {tags: [8. Remaining Platform Admin], summary: Resolve alert with notes and actor, parameters: [{$ref: '#/components/parameters/AlertId'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/NotesRequiredBody'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/incidents:
    get: {tags: [8. Remaining Platform Admin], summary: List incidents, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [8. Remaining Platform Admin], summary: Create incident, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/IncidentWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/incidents/{incident_id}:
    get: {tags: [8. Remaining Platform Admin], summary: Incident detail, parameters: [{$ref: '#/components/parameters/IncidentId'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [8. Remaining Platform Admin], summary: Update incident, parameters: [{$ref: '#/components/parameters/IncidentId'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/IncidentWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [8. Remaining Platform Admin], summary: Update incident, parameters: [{$ref: '#/components/parameters/IncidentId'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/IncidentWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/incidents/{incident_id}/resolve:
    post: {tags: [8. Remaining Platform Admin], summary: Resolve incident with notes and actor, parameters: [{$ref: '#/components/parameters/IncidentId'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/NotesRequiredBody'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/monitoring/tenant-usage-snapshots:
    get: {tags: [8. Remaining Platform Admin], summary: Tenant usage snapshots, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/integrations/providers:
    get: {tags: [8. Remaining Platform Admin], summary: List integration providers, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [8. Remaining Platform Admin], summary: Create integration provider, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/IntegrationProviderWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/integrations/providers/{provider_code}:
    patch: {tags: [8. Remaining Platform Admin], summary: Update integration provider, parameters: [{$ref: '#/components/parameters/ProviderCode'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/IntegrationProviderWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [8. Remaining Platform Admin], summary: Update integration provider, parameters: [{$ref: '#/components/parameters/ProviderCode'}], requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/IntegrationProviderWrite'}}}}, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/integrations/tenant-integrations:
    get: {tags: [8. Remaining Platform Admin], summary: List tenant integrations, responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    post: {tags: [8. Remaining Platform Admin], summary: Create tenant integration with encrypted credentials, requestBody: {content: {application/json: {schema: {$ref: '#/components/schemas/TenantIntegrationWrite'}}}}, responses: {'201': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/integrations/tenant-integrations/{integration_uuid}:
    get: {tags: [8. Remaining Platform Admin], summary: Tenant integration detail, parameters: [{$ref: '#/components/parameters/IntegrationUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    patch: {tags: [8. Remaining Platform Admin], summary: Update tenant integration, parameters: [{$ref: '#/components/parameters/IntegrationUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
    put: {tags: [8. Remaining Platform Admin], summary: Update tenant integration, parameters: [{$ref: '#/components/parameters/IntegrationUuid'}], responses: {'200': {$ref: '#/components/responses/GenericSuccess'}}}
  /api/platform/v1/integrations/tenant-integrations/{integration_uuid}/credentials:
[...]
